.combineNumber {
  display: flex;
  margin: auto;

  justify-content: center;
}

.buttonResultsWrap {
  display: flex;
  width: 55%;
  margin: auto;
  padding-bottom: 2%;
}

.interactiveButtons {
  height: 40%;
  width: 40%;
}

.trophyInteractiveButton {
  margin-top: 7px;
  height: 35%;
  width: 35%;
}

.interactiveButtonDigit {
  background-color: rgb(180, 76, 76);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 2vw;
  color: white;
  font-family: Galada;
}

.transparentDigit {
  background-color: rgba(255, 0, 0, 0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 2vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
