.commentsWrap {
  margin-top: 4%;
  margin-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 20px;
  height: 100%;
  width: 60vw;
  display: block;
  margin: auto;
  margin-bottom: 3%;
}

.commentList {
  background-color: rgba(122, 122, 122, 0.705);
  height: 40vh;
  width: 60vw;
}

.commentInput {
  margin-top: 3%;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7vw;
  border-radius: 10px;
}

.userTop {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: -4%;
}

.commentText {
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  color: rgb(195, 243, 252);
}

.combineNumber {
  display: flex;
  margin: auto;
  margin-bottom: 3%;
  padding-top: 4%;
  width: 60%;
}

.replyButton {
  font-size: 3vw;
  font-family: Galada;
  height: 100%;
  color: rgba(49, 49, 49, 0.705);
  opacity: 0.3;
  border-radius: 10px;
  margin-top: 4%;
}

.buttonResultsWrap {
  display: flex;
}

.interactiveButtons {
  width: 6vw;
}

.digit {
  background-color: rgba(255, 0, 0, 0.548);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 2vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.replyButton2 {
  font-size: 3vw;
  font-family: Galada;
  height: 100%;
  color: rgba(49, 49, 49, 0.705);
  opacity: 0.3;
  border-radius: 10px;
  margin-bottom: 3%;
  margin-top: 2%;
}

.replyBox {
  text-decoration: underline;
  border-bottom: 1px dotted rgb(175, 175, 175);
  border-top: 1px dotted rgb(175, 175, 175);
  margin-bottom: 10%;
}

.coveredReply {
  width: 100%;
}

.commentReplyButtons {
  width: 100%;
  display: flex;
  margin: 0;
}
