.profilePageWrap {
  display: block;
  width: 100vw;
  height: 100%;
  background-color: rgba(56, 56, 56, 0.486);
}

.profileUserTop {
  display: flex;
  width: 80%;
  margin: auto;
}

.coveredPostWrap {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 20px;
  height: 100%;
}

.profilePageThumbnail {
  border-radius: 50%;
  width: 50%;
  margin: auto;
  margin-top: 6%;
}

.profilePicAndName {
  display: block;
  text-align: center;
}

.profileUserNameDisplay {
  font-size: 3vw;
  font-family: Galada;
  text-align: center;
  color: rgb(195, 243, 252);
  margin-bottom: 2%;
}

.profilePageText {
  margin-top: 6%;

  margin-right: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  color: rgb(22, 22, 22);
}

.connectButton {
  font-size: 3vw;
  font-family: Galada;
  background-color: rgba(48, 48, 48, 0.945);
  opacity: 0.9;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: 15px;
  color: rgb(195, 243, 252);
}

.imagesThumbnailWrap {
  display: flex;
  width: 100vw;
}

.thumbnailWrap {
  display: flex;
}

.uploadShares {
  text-align: center;
  margin-bottom: 4%;
}

.uploadSharesButton1 {
  font-size: 3vw;
  font-family: Galada;
  background-color: rgba(48, 48, 48, 0.459);
  opacity: 0.9;
  padding-left: 16%;
  padding-right: 16%;

  color: rgb(26, 26, 26);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.uploadSharesButton1:focus {
  outline: none;
}

.uploadSharesButton2 {
  font-size: 3vw;
  font-family: Galada;
  background-color: rgba(48, 48, 48, 0.459);
  opacity: 0.9;
  padding-left: 16%;
  padding-right: 16%;

  color: rgb(26, 26, 26);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.uploadSharesButton2:focus {
  outline: none;
}
