.registerForm {
  padding-top: 15vh;
}

.registerInput {
  font-size: 3vw;
  font-family: Galada;
}

.fileSubmit {
  font-size: 2vw;
  text-align: center;
  margin-left: 13vw;
}

.imageUploadText {
  font-size: 2vw;
  width: 60%;
  border-radius: 20px;
  margin-left: 10vw;
  margin-bottom: 10px;
  opacity: 0.6;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.993);
  color: rgb(195, 243, 252);
}

.registerBtn {
  font-size: 3vw;
  font-family: Galada;
  width: 40%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.6;
  border-radius: 10px;
}

.registerAvatarImageCropper {
  width: 140px;
  height: 140px;
  background-color: black;
  margin: auto;
}

.removeBtn {
  font-size: 10px;
}
