.replyCombineNumber {
  display: flex;
  margin: auto;
  margin-bottom: 0;
  padding-top: 4%;
  width: 30%;
}

.replyInteractiveButtons {
  width: 100%;
  height: 80%;
}

.replyDigit {
  background-color: rgba(255, 0, 0, 0.548);
  border-radius: 50%;
  width: 20vw;
  height: 20%;
  margin-left: 5%;
  font-size: 2vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.replyButton {
  font-size: 3vw;
  font-family: Galada;
  height: 100%;
  color: rgba(49, 49, 49, 0.705);
  opacity: 0.3;
  border-radius: 10px;
  margin-top: 4%;
}

.replyInteractiveButtonsStar {
  width: 6vw;
  margin-bottom: 12px;
}
