.registerInput {
  font-size: 3vw;
  font-family: Galada;
}

.registerInput:focus {
  outline: none;
  box-shadow: none;
}

.loginForm {
  padding-top: 15vh;
  outline: none;
}

.loginBtn {
  font-size: 3vw;
  font-family: Galada;
  width: 40%;
  height: 100%;
  margin-bottom: 20px;
  opacity: 0.6;
  border-radius: 10px;
}

.loginBtn:focus {
  outline: none;
  box-shadow: none;
}
